<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--引入mapper配置文件 -->
	<mappers>
		<!-- <mapper resource="sqlMap/TfNoticeManagerMapper.xml"/> -->
		<mapper resource="sqlMap/UserMapper.xml"/>
	</mappers>
</configuration>